Song {
    text-align: center;
    border: 1px;
    margin: auto;
    padding: 20px;
}

Title {
    font-size: 24px;
    display: block;
}

Artist {
    display: block;
    font-size: 16px;
}

mainGenre {
    display: block;
    color: rgb(15, 15, 80);
    font-size: 20px;
}

Subgenre {
    display: block;
    font-size: 16px;
}

YearReleased {
    display: block;
    font-size: 16px;
}
