Playlist {
    width: 50%;
    margin: auto;
    background-color: #BFF3F2;
}

Song {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

Title {
    font-size: 26px;
    display: block;
}

Artist {
    display: block;
    font-size: 16px;
}

mainGenre {
    display: block;
    color: #E76464;
    font-size: 20px;
}

Subgenre {
    display: block;
    font-size: 16px;
}

YearReleased {
    display: block;
    font-size: 16px;
}
